Source: hsa-dev-rocm
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/ROCm/ROCR-Runtime

Package: hsa-dev-rocm
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: a thin, user-mode API that could be used to interact with AMDGPU
